html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: rgb(71, 71, 71);
	font-family: 'Roboto', sans-serif;
}

#target {
	height: 100%;
}

pre, code { 
	font-family: Hack, monospace;
}

a, a:hover, a:active, a:visited {
	text-decoration: none;
}
